beautifulsoup4==4.8.2
bokeh==0.12.10
fasttext==0.9.1
Flask==1.1.1
gensim==3.5.0
h5py==2.8.0
javalang==0.11.0
Keras==2.3.0
lxml==4.5.0
matplotlib==2.2.0
nltk==3.4.5
numpy==1.14.5
pandas==0.23.0
pyastyle==1.1.5
Pygments==2.5.2
pylint==1.8.4
requests==2.20.0
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.8.1
spacy==2.0.12
tabulate==0.8.2
tensorflow==1.12.2
wrapt==1.10.11
