<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>StackSearch</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/custom_style.css">
  </head>
  <body>
    <div id="main" class="row">
      <section id="search-panel" class="container col-3 d-flex flex-column border shadow-sm jumbotron">
        <div class="row justify-content-center">
          <a href="{{ url_for('index') }}" style="text-decoration: none !important;">
            <div class="title-container">
                <span class="title-banner">stack<strong>search</strong></span>
            </div>
          </a>
        </div>
        <form action="" class="row d-flex flex-column flex-grow-1">
          <div class="input-group">
            <input id="query" type="text" class="form-control input-lg" placeholder="Search query...">
            <div class="input-group-btn">
              <button class="btn btn-dark" id="btn-search" type="button">
                <span class="fa fa-search fa-fw" aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <div class="input-group mb-2 mt-2"">
            <input id="entity-input" type="text" class="form-control input-lg" placeholder="Add filter tags..."
              data-toggle="tooltip" title="add multiple tags by separating them with a comma">
            <div class="input-group-btn">
              <button class="btn btn-dark" id="btn-add-entity" type="button">
                <span class="fa fa-plus fa-fw" aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <div id="tag-container" class="flex-grow-1 flex-fill text-left">
          </div>
        </form>
        <div class="row mt-2">
          <!--<hr class="flex-grow-1" style="margin-left: 15px; margin-right: 15px;">-->
          <div class="w-100 mb-1">
            <div class="note">
              A model must be loaded first!
            </div>
            <form action="" class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="modelSelect">Model:</label>
              </div>
              <select id="modelSelect" class="custom-select">
                <option value="0" selected>hybrid</option>
                <option value="1">fasttext</option>
                <option value="2">tf-idf</option>
              </select>
              <div class="input-group-btn">
                <button id="modelLoadBtn" class="btn btn-dark" type="button">Load</button>
              </div>
            </form>
          </div>
          <hr class="flex-grow-1" style="margin-left: 15px; margin-right: 15px;">
          <div class="w-100 text-center">
            <a href="#">Paper</a>&nbsp;|&nbsp;
            <a href="#">GitHub</a>
          </div>
        </div>
      </section>
      <section id="content-panel" class="container col border shadow-sm" style="padding: 1rem 1 rem;">
        <div id="freq-tags" class="row m-0">
          <span class='entity-tag btn-dark'>test.api</span>
        </div>
        {% block content %}{% endblock %}
      </section>
    </div>

    <!-- jQuery, Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
    <!-- StackSearch utilities JS -->
    <script src="../static/tag_utils.js"></script>
  </body>
</html>